body { padding: 0; margin: 0; font-size: 12px; font-family: tahoma, sans-serif; letter-spacing: 1px; line-height: 160%; background: #cdcdcd; color: #454545; }
div { text-align: left; }
#topOfPage { display: none; }
#conteiner { width: 730px; padding: 25px; background: #fff; margin-left: auto; margin-right: auto; }
#header { height: 45px; }
#logo {	height: 50px; float: right; font-family:Tahoma;font-size:30px}
#search { float: right; padding-top: 8px; text-align: right; width: 225px; }
#menus { clear: both; background: #cdcdcd; height: 25px; }
#top { background: url("../images/header.png") 100% 0 no-repeat #505050; height: 200px; clear: both; }
#body { clear: both; margin-bottom: 15px; margin-top: 15px; }
#footer { clear: both; padding-top: 5px; }          
div.block, div.blockDistinct { padding: 10px; padding-bottom: 3px; padding-top: 8px; }
div.blockDistinct { background: url("../images/corner.gif") no-repeat 100% 100% #f5f5f5; }
h1, h2 { margin: 0; margin-bottom: 10px; padding: 0; font-weight: normal; font-size: 25px;color: #76B8E3}
#top h1 { color: #fff; padding-left: 25px; padding-top: 65px; line-height: 110%;}
h2 { font-size: 16px; margin-bottom: 5px; color: #000; }
p {	margin: 0; margin-bottom: 5px; }
p.right { text-align: right; }
#footer p {	clear: both; color: #c0c0c0; font-size: 11px; }
form { margin: 0; }
fieldset { padding: 0; border: 0; }
legend { display: none; }

ul { margin: 0; padding : 0; list-style : none; }

#footer li { float: left; padding: 0; height: 15px;	vertical-align: middle;	padding-right: 25px;	font-size: 11px; }
a:link, a:active, a:visited { text-decoration: underline; }
a:link, a:active { color: #0080c0; }
a:visited { color: #0080c0; }
a img { border: 0; }
a img:active { border: 0; }
span.highlight { color: #abd6f1; }
span.hide { display: none; }
span.underline { text-decoration: underline; }


#menus ul{
    padding:0
}
#menus ul li{
    display:inline-block;
    margin-right:-15px;
    position:relative;
}
#menus ul li a{
    display:inline-block;
    padding:3px 12px;
    background:#ccc;
    color:#000;
  text-decoration: none;
}
#menus ul li a:hover{background: #999;}
#menus ul ul{
    position:absolute;
    left:0;
    width:100px;
    transition:all .5s; 
    max-height: 0;
    overflow: hidden;
}
#menus  ul.submenu li{
    display:block; 
}
#menus  ul.submenu li a{
    display:block;
    background:#ccc;
  color: black;
}
#menus  ul.submenu li a:hover{background: #999;}
#menus ul li:hover ul{
    max-height: 10000px;
}